

h1{
	color: rgb(255, 0, 0);
}

#Header{
	background-color: #CCC;
	width: 1200px;
	margin: 0 auto;
}

#Body{
	background-color: #DDD;
	width: 1200px;
	margin: 10px auto;
	clear: both;
}

.text{

	width: 200px;
	margin: 0px auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.upgradeText{
	width: 200px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom: 5px;
}

.ButtonArea{

	width: 200px;
	margin: 0px auto;
}

.button {
    background-color: rgb(128, 128, 128);
    border: none;
    color: black;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
	background-color: rgb(119, 119, 119);
}

.button:active {
  background-color: rgb(99, 99, 99);
}

.upgradeButton {
    background-color: rgb(190, 190, 190);
    border: none;
    color: black;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.upgradeButton:hover {
	background-color: rgb(180, 180, 180);
}

.upgradeButton:active {
  background-color: rgb(150, 150, 150);
}

#ClickArea {
	width: 75%;
	height: 300px;
	float: left;
}


#UpgradeArea {
	height: 300px;
	margin-left: 75%;
}






